@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.cardRoot{
    /*Colour variables*/
    --tomato: hsl(4, 100%, 67%);
    --darkSlateGrey: hsl(234, 29%, 20%);
    --charcoalGrey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);

    /*Colours for gradient*/
    --grad-orange: #FE693E;
    --grad-pink: #E85F7D;

    /*Styles for card root*/
    background-color: var(--white);
    color: var(--charcoalGrey);
    height: 100vh;
    width: 100vw;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;

}

.imgDesktop{
    display: none;
}

.textBody{
    margin-top: 8px;
    padding-inline: 24px;
    display: flex;
    flex-direction: column;
}

h1{
    color: var(--darkSlateGrey);
    font-size: 2.5em;
    margin-bottom: 3px;
}

p{
    line-height: 25px;
}

ul{
    list-style-type: circle;
    list-style-image: url("../assets/images/icon-list.svg");
    list-style-position: outside;
    padding-left: 28px;
    margin-top: 7px;

}

li {
    padding-left: 10px;
    line-height: 24px;
    margin-bottom: 10px;
}

li > span {
    display: inline-block;
    vertical-align: top;
}

form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-top: 11px;
    justify-self: flex-end;
}

.inputHeader{
    display: flex;
}

.errorMessage{
    color: var(--tomato);
    margin-left: auto;
}

label {
    color: var(--darkSlateGrey);
    font-weight: 700;
    font-size: 0.72em;
}

.input {
    height: 50px;
    border-radius: 5px;
    margin-block: 11px;
    box-sizing: border-box;
}

.inputError{
    border: 1px solid var(--tomato);
}

input:focus{
    outline: none;
}

input[type=email] {
    border: 1px solid var(--grey);
    padding-left: 25px;
    font-size: 0.96em;
    color: var(--darkSlateGrey);
}


.btn {
    border: none;
    color: var(--white);
    background-color: var(--darkSlateGrey);
    font-weight: 700;
    font-size: 0.9em;
    cursor: pointer;
}

.btn:hover{
    background: linear-gradient(90deg, var(--grad-pink), var(--grad-orange));
}


.successCardRoot{
    padding-top: 149px;
    padding-inline: 24px;
    box-sizing: border-box;
}


.successCardRoot img{
    margin-bottom: 14px;
    align-self: flex-start;
}
.successCardRoot h1{
    line-height: 39px;
}

.successCardRoot p{
    margin-top: 22px;
    line-height: 24px;
}

.successFooter{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-top: auto;
}

.successFooter .btn{
    height: 56px;
}

/*Screen size: Over 505px, larger than standard mobile*/
@media only screen and (min-width: 505px){
    .cardRoot {
        border-radius: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: auto;
        max-width: 505px;
        box-sizing: border-box;
    }

    .initialCardRoot {
        text-align: center;
        overflow: hidden;
        max-height: 690px;
    }

    .textBody{
        padding-inline: 64px;
        text-align: left;
    }

    .imgMobile{
        width: 100%;
        margin-top: -250px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }

    .initialCardRoot h1 {
        font-size: 3.5em;
    }


    .successCardRoot {
        max-height: 520px;
        padding-inline: 63px;
        padding-top: 48px;
    }

    input{
        border: 2px solid red;
    }

    input[type=email]{
        height: 56px;
    }

    .btn{
        height: 56px;
    }


    .successCardRoot h1{
        font-size: 3.4em;
    }

    .successCardRoot h1{
        line-height: 57px;
    }

    .successCardRoot img {
        margin-bottom: 3px;
    }


    .successCardRoot p {
        margin-top: 20px;
    }

    .successFooter {
        margin-bottom: 53px;
    }
}

/*Screen size: Over 930px, full desktop layout for initial view*/
@media only screen and (min-width: 930px){
    .initialCardRoot {
        flex-direction: row;
        max-width: 930px;
        max-height: 641px;
    }

    .imgMobile {
        display: none;
    }

    .imgDesktop {
        display: unset;
        margin-right: 24px;
    }

    .initialCardRoot h1{
        margin-top: 84px;
    }

    ul{
        margin-top: 5px;
    }

    li{
        margin-bottom: 7px;
    }

    form {
        margin-top: 12px;
    }

}
