@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.cardRoot{
    /*Colour variables*/
    --tomato: hsl(4, 100%, 67%);
    --darkSlateGrey: hsl(234, 29%, 20%);
    --charcoalGrey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);

    /*Styles for card root*/
    background-color: var(--white);
    color: var(--charcoalGrey);
    height: 100vh;
    width: 100vw;
    font-family: "Roboto", sans-serif;
    font-size: 16px;

}

.textBody{
    margin-top: 5px;
    padding-inline: 24px;
    display: flex;
    flex-direction: column;
}

h1{
    color: var(--darkSlateGrey);
    font-size: 2.5em;
    margin-bottom: 3px;
}

p{
    line-height: 25px;
}

ul{
    list-style-type: circle;
    list-style-image: url("../assets/images/icon-list.svg");
    list-style-position: outside;
    padding-left: 28px;
    margin-top: 7px;

}

li {
    padding-left: 10px;
    line-height: 24px;
    margin-bottom: 10px;
}

li > span {
    display: inline-block;
    vertical-align: top;
}

form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    justify-self: flex-end;
}

label {
    color: var(--darkSlateGrey);
    font-weight: 700;
    font-size: 0.72em;
}

form input {
    height: 50px;
    border-radius: 5px;
    margin-block: 11px;
}

input[type=email] {
    border: 1px solid var(--grey);
    padding-left: 25px;
    font-size: 0.96em;
}

input[type=submit] {
    border: none;
    color: var(--white);
    background-color: var(--darkSlateGrey);
    font-weight: 700;
    font-size: 0.9em;
}

.successCardRoot{
    padding-top: 149px;
    padding-inline: 24px;
}

.successCardRoot img{
    margin-bottom: 11px;
}

.successCardRoot h1{
    line-height: 39px;
}

.successCardRoot p{
    margin-top: 24px;
    padding-right: 24px;
    line-height: 24px;
}
